.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 90px;
  justify-content: space-around;
  padding: 0;
}

.id-column {
  flex: 0 0 45px;
  justify-content: center;
  padding: 0;
}
