<mat-table
  [dataSource]="products"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="id">
    <mat-header-cell
      *matHeaderCellDef
      class="id-column"
    > No. </mat-header-cell>
    <mat-cell
      class="id-column"
      mat-cell
      *matCellDef="let product"
    > {{product.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let product"> {{product.quantity}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell
      *matHeaderCellDef
      class="action-column"
    >
      <button
        mat-mini-fab
        color="accent"
        aria-label="Add a product"
        (click)="onAdd()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell
      *matCellDef="let product"
      class="action-column"
    >
      <button
        mat-icon-button
        color="primary"
        aria-label="Edit product"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="Delete product"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
